/**
 * style.css - stylesheet for the Caltech Library's Digital Library Development Group's sandbox.
 */
body {
     margin: 0;
     border: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     color: orange;
     background-color: slategrey;
     font-family: Open Sans, Helvetica, Sans-Serif;
     font-size: 16px;
}

header {
     position: relative;
     display: block;
     padding: 0.48em;
     color: white;
     background-color: slategrey;
     border-bottom: 0.1em sod grey;
     z-index: 2;
}

header img {
     position: relative;
     display: inline;
     padding: 0;
     margin: 0;
     height: 5em;
     width: 5em;
}

header h1 {
     position: relative;
     display: inline-block;
     margin: 0;
     border: 0;
     padding: 0;
     font-size: 3em;
     font-weight: normal;
     vertical-align: 0.78em;
     color: orange;
}

a, a:link, a:visited, a:active, a:hover, a:focus {
     color: slategrey;
     background-color: inherit;
     text-decoration: none;
     box-shadow: 0.12em orange;
}

nav {
     position: relative;
     display: block;
     width: 100%;
     margin: 0;
     padding: 0;
     font-size: 0.78em;
     vertical-align: middle;
     color: black;
     background-color: darkgrey;
     text-align: left;
}

nav div {
     display: inline-block;
     /* padding-left: 10em; */
     margin-left: 10em;
     margin-right: 0;
}

nav a, nav a:link, nav a:visited, nav a:active, nav a:hover, nav a:focus {
     color: white;
     background-color: inherit;
     text-decoration: none;
}


nav div h2 {
     position: relative;
     display: block;
     min-width: 20%;
     margin: 0;
     font-size: 1.24em;
     font-style: normal;
}

nav div > ul {
     display: none;
     padding-left: 0.24em;
     text-align: left;
}

.cl-nav-ul-display-inline-block, nav:hover ul, nav a:focus+ul {
     display: inline-block;
     list-style-type: none;
     margin: 0;
     vertical-align: top;
     text-transform: lowercase;
}

section {
     position: relative;
     display: inline-block;
     width: 100%;
     color: black;
     background-color: white;
     margin: 0;
     padding-top 0;
     padding-bottom: 0;
     padding-left: 1em;
     padding-right: 0;
}

section h2 {
     font-size: 1.12em;
}

aside {
     margin: 0;
     border: 0;
     padding-left: 1em;
     position: relative;
     display: inline-block;
     text-align: right;
}

aside h2 {
     font-size: 1em;
     text-transform: uppercase;
}

aside h2 > a {
     font-style: normal;
}

aside ul {
     margin: 0;
     padding: 0;
     display: block;
     list-style-type: none;
}

aside ul li {
     font-size: 0.82em;
}

.cl-aside-display-block, aside:hover div ul {
     display: block;
}

aside ul > ul {
     padding-left: 1em;
     font-size: 0.72em;
}

footer {
     position: relative;
     display: block;
     width: 100%;
     height: 3em;
     color: white;
     background-color: slategrey;
     border-top: 0.1em solid grey;

     font-size: 80%;
     text-align: left;
     vertical-align: middle;
     z-index: 2;
}

footer h1, footer span, footer address {
     position: relative;
     display: inline-block;
     margin: 0;
     padding-left: 0.24em;
     font-family: Open Sans, Helvetica, Sans-Serif;
     font-size: 1em;
}

footer h1 {
     font-size: 2em;
     font-weight: normal;
}

footer a, footer a:link, footer a:visited, footer a:active, footer a:focus, footer a:hover {
     padding: 0;
     display: inline;
     margin: 0;
     color: orange;
     text-decoration: none;
}


.cl-hide {
     display: none;
     visibility: none;
}

.cl-main {
     position: relative;
     display: inline-block;
     padding-left: 1em;
     max-width: 72%;
     vertical-align: top;
}

.cl-authors-item h1, .cl-annoucements-item h1, .cl-classes-item h1 {
     font-size: 1em;
     margin-bottom: 0.12em;
}

.cl-authors-item h2, .cl-annoucements-item h2, .cl-classes-item h2 {
     font-size: 1em;
     margin-bottom: 0.12em;
}

.cl-authors-item > div, .cl-announcements-item > div, .cl-classes-item > div {
     font-size: 0.58em;
     font-style: italic;
}

.cl-authors-item-pubdate, .cl-annoucements-item-pubdate, .cl-classes-item-pubdate {
     margin: 0;
     font-size: 0.58em;
     margin-bottom: 0.12em;
}

.cl-authors-item-description, .cl-annoucements-item-description, .cl-classes-item-description {
     font-size: 0.78em;
     font-style: none;
     margin-bottom: 2em;
}

