/**
 * style-v0.0.2.css - Alternative stylesheet for the Caltech Library's Digital Library Development Group's sandbox.
 */
body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #E3662D;
    background-color: white;
    font-family: Open Sans, Helvetica, Sans-Serif;
    font-size: 16px;
}


menu {
    position: relative;
    display: inline-block;
    list-style-type: none;
    height: 1.44em;
    width: 100%;
    margin: 0;
    padding-top: 0.24em;
    padding-bottom: 0.24em;
    padding-left: 2em;
    padding-right: 0;
    /*
    color: white;
    background-color: #E3662D;
    */
    color: white;
    background-color: darkslategrey;
    font-size: 0.78em;
    font-weight: normal;
    text-transform: uppercase;
}

menu li {
    position: relative;
    display: inline;
    padding-left: 2em;
}

menu li > a, menu li > a:link, menu li > a:visited, menu li > a:active, menu li > a:hover, menu li > a:focus {
    text-decoration: none;
    color: white;
    background-color: darkslategrey;
}


header {
    position: relative;
    display: inline-block;
    height: auto;
    margin-left: 1em;
    margin-right: 3em;
    background-color: white;
    z-index: 1;
}

header h1 {
    position: relative;
    display: inline-block;
    height: auto;
    font-size: 2em;
    font-weight: bold;
    color: #E3662D;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    padding: 0;
    vertical-align: bottom;
}

a, a:link, a:visited, a:active, a:hover, a:focus {
    color: slategrey;
    background-color: inherit;
    text-decoration: none;
    box-shadow: 0.12em orange;
}

nav {
    position: relative;
    display: inline-block;
    font-size: 0.78em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    height: auto;
    color: darkslategrey;
    background-color: white;
    border-bottom: 0.02em solid #E3662D;
    vertical-align: top;
}

nav div {
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 0.24em;
    margin-right: 0;
    padding-left: 7.2em;
    vertical-align: bottom;
}

nav a, nav a:link, nav a:visited, nav a:active, nav a:hover, nav a:focus {
    color: inherit;
    background-color: inherit;
    font-weight: normal;
    text-decoration: none;
}


nav div h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.24em;
    font-style: normal;
}

nav div > ul {
    display: none;
    text-align: left;
    list-style-type: none;
}

.cl-nav-ul-display-inline-block {
    display: inline;
    list-style-type: none;
}

section {
    position: relative;
    display: inline-block;
    color: black;
    background-color: white;
}

section h2 {
    font-size: 1.12em;
}

aside {
    border: 0;
    padding-left: 1em;
    position: relative;
    display: inline-block;
}

aside h2 {
    font-size: 1em;
    text-transform: uppercase;
}

aside h2 > a {
    font-style: normal;
}

aside ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
}

aside ul li {
    font-size: 0.82em;
}

.cl-aside-display-block, aside:hover div ul {
    display: block;
}

aside ul > ul {
    padding-left: 1em;
    font-size: 0.72em;
}

footer {
    position: relative;
    display: block;
    height: 3em;
    color: white;
    background-color: darkslategrey;
    font-size: 0.82em;
}

footer h1, footer span, footer address {
    position: relative;
    display: inline-block;
    margin: 0;
    padding-left: 0.42em;
    font-family: Open Sans, Helvetica, Sans-Serif;
    font-size: 1em;
}

footer h1 {
    font-size: 1.42em;
    font-weight: normal;
}

footer a, footer a:link, footer a:visited, footer a:active, footer a:focus, footer a:hover {
    position: relative;
    display: inline;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}


.cl-hide {
    display: none;
    visibility: none;
}

.cl-main {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    padding-left: 1em;
    max-width: 72%;
    vertical-align: top;
}

.cl-unified-search-box {
    position: relative;
    display: block;
    height: auto;
    margin-left: 20%;
    margin-right: 0;
    padding: 0;
    border: 0;
}

.cl-unified-search-box ul {
    width: 60%;
    margin: 0;
    border: 0;
    padding: 0;
    list-style-type: none;
}


.cl-authors-item h1, .cl-annoucements-item h1, .cl-classes-item h1 {
    font-size: 1em;
    margin-bottom: 0.12em;
}

.cl-authors-item h2, .cl-annoucements-item h2, .cl-classes-item h2 {
    font-size: 1em;
    margin-bottom: 0.12em;
}

.cl-authors-item > div, .cl-announcements-item > div, .cl-classes-item > div {
    font-size: 0.58em;
    font-style: italic;
}

.cl-authors-item-pubdate, .cl-annoucements-item-pubdate, .cl-classes-item-pubdate {
    margin: 0;
    font-size: 0.58em;
    margin-bottom: 0.12em;
}

.cl-authors-item-description, .cl-annoucements-item-description, .cl-classes-item-description {
    font-size: 0.78em;
    font-style: none;
    margin-bottom: 2em;
}
