/**
 * style.css - stylesheet for the Caltech Library's Digital Library Development Group's sandbox.
 */
body {
    margin: 0;
    padding: 0;
    color: orange;
    background-color: slategrey;
    font-family: Open Sans, Helvetica, Sans-Serif;
    font-size: 16px;
}

header {
    position: relative;
    padding: 0.48em;
    color: antiquewhite;
    background-color: slategrey;
    border-bottom: 0.1em solid grey;
    z-index: 2;
}

header img {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
    height: 5em;
    width: 5em;
}

header h1 {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 3em;
    font-weight: normal;
    vertical-align: 0.78em;
    color: orange;
}

a, a:link, a:active, a:hover, a:focus {
    color: orange;
    background-color: inherit;
    text-decoration: none;
}

nav {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
    height: auto; 
    font-size: 80%; 
    text-align: left;
    vertical-align: middle;
    color: black;
    background-color: darkgrey;
}

nav div {
    display: inline-block;
    min-width: 20%;
    margin: 0;
    padding-left: 1em; 
    padding-right: 1em; 
}

nav div h2 {
    position: relative;
    display: block;
    min-width: 20%;
    margin: 0;
    font-size: 1.42em;
}

nav div > ul {
    display: none;
    padding-left: 0.24em;
    padding-right: 0.24em;
}


nav:hover div > ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    vertical-align: top;
    text-transform: lowercase;
}


section {
    position: relative;
    display: inline-block;
    padding: 1em;
    width: 100%;
    color: black;
    background-color: antiquewhite;
}

aside {
    margin: 0;
    border: 0;
    padding: 0;
    position: float;
    float: left;
    padding-right: 2em;
    display: inline-block;
    text-align: left;
}

aside h2 {
    font-size: 1em;
    font-style: italic;
    text-transform: uppercase;
}
aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer {
    position: relative;
    display: block;
    padding: 0.48em;
    width: 100%;
    height: 3em;
    color: white;
    background-color: slategrey;
    border-top: 0.1em solid grey;

    font-size: 80%;
    text-align: left;
    vertical-align: middle;
    z-index: 2;
}

footer h1 {
    position: relative;
    display: inline;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.24em;
    padding-right: 0.24em;
    font-family: Open Sans, Helvetica, Sans-Serif;
    font-size: 2em;
    text-align: left;
    color: orange;
    background-color: slategrey;
}

footer span {
    position: relative;
    display: inline;
    margin: 0;
    padding-left: 0.24em;
    padding-right: 0.24em;
}

footer address {
    position: relative;
    display: inline;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

footer a, footer a:link, footer a:visited, footer a:active, footer a:focus, footer a:hover {
    padding: 0;
    display: inline;
    margin: 0;
    color: orange;
    text-decoration: none;
}


.cl-hide {
    display: none;
    visibility: none;
}

.cl-main {
    max-width: 80%;
    display: inline-block;
}
